body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.row {
  display: flex;
}

#left-panel {
  display: flex;
  flex-direction: column;
  width: 20%;
  max-width: 250px;
  padding: 10px;
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
}
h2.title {
  margin-top: 0;
}

#object-items {
  flex: 1;
  overflow: auto;
  list-style: none;
  padding: 0;
  margin: 10px 0;  
}
#object-items li {
  padding: 4px;
  cursor: pointer;
}
#object-items li.selected {
    background-color: #e0e0e0;
}
#object-items li:hover {
  background-color: #a0a0c0;
}
#save-file{
  margin: 0 10px;
}
#clear-canvas {
  color: red;
}

#canvas-container {
  width: 60%;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
#tool-panel {
  display: flex;
  padding: 10px;
  background-color: #f0f0f0;
}
#tool-panel .tool-button {
  margin-right: 10px;
}
#tool-panel #load-image {
  margin-right: 10px;
}

#canvas {
  border: 1px solid #000;
}

#properties-panel {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 10px;
  max-width: 400px;
  background-color: #f0f0f0;
  border-left: 1px solid #ccc;
}
#properties-panel input[type="text"],
input[type="number"] {
  width: 100%;
  margin-bottom: 10px;
}

#properties-panel .justify-buttons{
  margin-top: 10px;
}

#properties-panel .justify-button {
  height: 30px;
  width: 30px;
}

#footer {
  display: flex;
  align-items: center;
  height: 30px;
  background-color: #f1f1f1;
  border-top: 1px solid #ccc;
}

.history-square {
  width: 20px;
  height: 20px;
  margin: 2px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.history-square.forward {
  background-color: white !important;
}
.history-square.add {
  background-color: #0f0;
}
.history-square.update {
  background-color: #ccc;
}
.history-square.remove {
  background-color: #f00;
}

.history-square:hover {
  background-color: #aaa;
}
